.Game {
  width: 700px;
  background: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  font-weight: 100;
  font-size: 2em;
  border-bottom: 2px solid purple;
  display: inline-block;
}
.Game-welcome-title,
.Game-welcome p {
  color: white;
  border-bottom: none;
}
.Game-welcome p {
  width: 80%;
  margin: auto;
  padding-bottom: 1rem;
}
.Game-dice-section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.Game-completed-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.Game-save {
  width: 100%;
}

.Game-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Game-reroll,
.Game-welcome-button-wrapper a {
  font-size: 2em;
  color: white;
  text-transform: capitalize;
  font-weight: 100;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to right,
    #91eae4 0%,
    #7f7fd5 51%,
    #91eae4 100%
  );
  border-radius: 0.5rem;
  border: none;
  width: 50%;

  margin-bottom: 2rem;
}
.Game-reroll a {
  color: white;
  text-decoration: none;
}
.Game-welcome-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Game-welcome-button-wrapper a {
  text-decoration: none;
}
.Game-reroll:hover,
.Game-welcome-button-wrapper a:hover {
  cursor: pointer;
  background-position: right center;
}

.Game-reroll:active,
.Game-reroll:focus,
.Game-welcome-button-wrapper a:active,
.Game-welcome-button-wrapper a:focus {
  outline: none;
}

.Game-reroll:disabled {
  background-color: #ddd;
  cursor: not-allowed;
  opacity: 0.5;
}

.Game-description {
  font-style: italic;
  color: white;
}

.Game-header {
  width: 100%;
  background: linear-gradient(-45deg, #673ab7, #9c27b0);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 720px) {
  .Game {
    width: 500px;
  }
  .Game-welcome-button-wrapper a {
    width: 75%;
  }
  .Game-reroll {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .Game {
    width: 300px;
  }
  .Game-welcome-button-wrapper a {
    width: 90%;
  }

  .Game-dice-section {
    width: 80%;
  }

  .Game-reroll {
    width: 80%;
    font-size: 1.5em;
  }
}
