.Leaderboard {
  font-family: "Roboto";
  color: white;
  width: 700px;
  height: 100%;
  background: -webkit-linear-gradient(135deg, #673ab7, #9c27b0);
  background: -o-linear-gradient(135deg, #673ab7, #9c27b0);
  background: linear-gradient(-45deg, #673ab7, #9c27b0);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  position: relative;
  padding: 30px 0 0 0;
}

.Leaderboard h2 {
  font-weight: lighter;
  border-bottom: none;
  padding: 30px 0;
}

.Leaderboard a {
  color: #212529;
}

.Leaderboard-scores {
  background-color: aqua;
}

.Leaderboard-scores table {
  width: 100%;
  background-color: white;
  color: #212529;
}

.Leaderboard-scores table th {
  background-color: #212529;
  color: white;
}

.Leaderboard-scores tr:hover {
  background: linear-gradient(
    to right,
    rgba(209, 196, 233, 1) 0%,
    rgba(209, 196, 233, 1) 0%,
    rgba(209, 196, 233, 1) 30%,
    rgba(227, 242, 253, 1) 40%
  );
  background-size: 300% 300%;
  animation: Slide 1s ease 1;
}

@keyframes Slide {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

.Leaderboard-scores table td {
  padding: 0.3em;
  border-bottom: solid 1px black;
}

.Leaderboard-scores table td a {
  padding: 0 80px;
  text-decoration: none;
}

.Leaderboard .nav-links a {
  font-family: "Roboto" !important;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.25s ease-in;
  -o-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
}

.Leaderboard .nav-links {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 5px 5px;
}

.Leaderboard .nav-links span {
  transition: 0.25s ease-in;
}

.Leaderboard .nav-links span:hover {
  color: #212529;
  opacity: 0.8;
}

@media screen and (max-width: 720px) {
  .Leaderboard {
    width: 500px;
  }
}

@media screen and (max-width: 576px) {
  .Leaderboard {
    width: 300px;
  }

  .Leaderboard-scores table td a {
    padding: 5px 1em;
  }
}
